@model ICollection<Messanger.Data.Models.Consumer>

<div class="container" style="
    flex-direction:column;">
        @{
            foreach (var consumer in Model) {
                <div>
                    <div>
                        <p class="text-monospace text-center">@consumer.Name</p>
                    </div>
                     <button class="btn" type="button" name="addContact" onclick="onAddContactButtonClicked('@consumer.Id')">Add</button>
                 </div>
            }
        }
</div>

