@model ICollection<Messanger.Data.Models.Consumer>

<div>
    <ul>
        @{
            foreach (var consumer in Model) {
                <li class="ul-li-block">
                    <div>
                        <p class="text-monospace text-center">@consumer.Name</p>
                        <button class="btn" type="button" name="sendInvition" onclick="onInviteButtonClicked('@consumer.Id')">Add</button>
                    </div>
                </li>
            }
        }
    </ul>
</div>

