@model ICollection<Messanger.Data.Models.Consumer>

<div class="container" style="
    flex-direction:column;">
        @{
            foreach (var consumer in Model) {
                <div style="
        margin: 16px;
        flex: 1;
        flex-direction: row;" >
                    <div style="margin: auto; justify-content: flex-start;">
                        <h4><b>@consumer.Name</b></h4>
                        <p style="margin-left: 16px;">@consumer.PhoneNumber</p>
                    </div>
                    <div style="justify-content: flex-end; margin-right: 16px;">
                        <button class="btn" type="button" name="addContact" onclick="onAddContactButtonClicked('@consumer.Id')">
                        Add to contacts
                        </button>
                    </div>
                 </div>
            }
        }
</div>

