@model ICollection<Messanger.Data.Models.Dialog>

<ul>
    @{  
        foreach (var dialog in Model) {
            <li onclick="onDialogClicked(@dialog.Id)">@dialog.Title</li>
        }
    }
</ul>



