@model ICollection<Messanger.Data.Models.Dialog>

<ul class="ul-block">
    @{  
        foreach (var dialog in Model) {
            <li class="ul-li-block" onclick="onDialogClicked('@dialog.Id')">Dialog</li>
        }
    }
</ul>



