<div style="
    width: 860px;
    height: 500px;
    position: absolute;
    margin: auto;
    top: 70px;
    left: 0;
    right: 0;
    flex-flow: row;"> 

    <div class="mdc-card" style="
    flex-basis: 200px;
    flex: 2;">
        
    </div>
    <div style="
    margin-left: 20px;
    flex: 5;
    flex-direction: column">
        <div class="mdc-card" style="
    flex: 6;">

        </div>
        <div class="mdc-card" style="
    margin-top: 20px;
    flex: 1;">

        </div>
    </div>
</div>

