@model Messanger.Models.Consumer

<style>
    ul li {
        display: block;
        text-decoration: none;
        padding: 15px;
    }

    ul li:hover {
        background: #b6ff00;
    }
</style>

<div style="
    width: 860px;
    height: 500px;
    position: absolute;
    margin: auto;
    top: 70px;
    left: 0;
    right: 0;
    flex-flow: row;">

    <div id="dialogs" class="mdc-card" style="
    flex-basis: 200px;
    flex: 2;">
        <div id="container" style="
    position:inherit;
    margin:16px;
    background:#808080">
            <ul>
                <li>
                    <div>
                        @Model.Name
                    </div>
                </li>
            </ul>
        </div>
        <div id="dialogsContainer" style="
    position:inherit;
    margin:16px;
    background:#0094ff">
            
        </div>
    </div>
    <div id="content" style="
    margin-left: 20px;
    flex: 5;
    flex-direction: column">
        <div class="mdc-card" style="
    flex: 6;">

        </div>
        <div class="mdc-card" style="
    margin-top: 20px;
    flex: 1;">
            <div style="
                 margin: 16px">
                <form>
                    <input type="text" style="position:relative" />
                    <button type="button" class="mdc-button mdc-button--dense" name="sendMessage" onclick="onSendMessageClicked()"/>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    var messanger = {
        identifier: "",
        dialogsLoaded: 0,
        dialogsPortion: 10,
        messagesLoaded: 0,
        messagesPortion: 30
    }

    $(function () {
        loadDialogsAsync(messanger.identifier, messanger.dialogsLoaded, messanger.dialogsPortion);
    });

    function loadDialogsAsync(uid, from, portion) {
        $.ajax({
            url: "@Url.Action("Dialogs", "Home")",
            method: "post",
            data: {
                uid: uid,
                from: from,
                to: portion
            },
            error: function () { },
            success: function (view) {
                $("#dialogsContainer").html(view);
                messanger.dialogsLoaded += messanger.dialogsPortion;
            }
        });
    }

    function sendMessageAsync(message) {
        $.ajax({
            
        });
    }

    function onSendMessageClicked() {
        alert("onSendMessageClicked");
    }

    function onDialogClicked(dialog) {
        alert("onDialogClicked " + dialog);
    }

</script>


