@model Messanger.Data.Models.Consumer

<style>
    ul li {
        display: block;
        text-decoration: none;
        padding: 15px;
    }

        ul li:hover {
            background: #b6ff00;
        }
</style>

<div id="consumerDialog" class="mdc-dialog"
     role="alertdialog"
     aria-modal="true"
     aria-labelledby="my-dialog-title"
     aria-describedby="my-dialog-content">
    <div class="mdc-dialog__container">
        <div class="mdc-dialog__surface">
            <!-- Title cannot contain leading whitespace due to mdc-typography-baseline-top() -->
            <h2 class="mdc-dialog__title" id="my-dialog-title">
                <!--
                -->
                Dialog Title
                <!--
                -->
            </h2>
            <div class="mdc-dialog__content" id="my-dialog-content">
                Dialog body text goes here.
            </div>
            <footer class="mdc-dialog__actions">
                <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="no">No</button>
                <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="yes">Yes</button>
            </footer>
        </div>
    </div>
    <div class="mdc-dialog__scrim"></div>
</div>

<div style="
    width: 860px;
    height: 500px;
    position: absolute;
    margin: auto;
    top: 70px;
    left: 0;
    right: 0;
    flex-flow: row;">

    <div id="dialogs" class="mdc-card" style="
    flex-basis: 200px;
    flex: 2;">

        <div id="container" style="
    position:inherit;
    margin:16px;
    background:#808080">
            <ul>
                <li>
                    <div>
                        @Model.Name
                    </div>
                </li>
            </ul>
        </div>

        <div id="dialogsContainer" style="
    position:inherit;
    margin:16px;
    background:#0094ff">

        </div>

    </div>

    <div id="content" style="
    margin-left: 20px;
    flex: 5;
    flex-direction: column">

        <div class="mdc-card" style="
    flex: 6;">

            <div id="contentHeader" style="
    position:inherit;
    width:inherit;
    height:64px;">
                <div style="
    float:right;
    justify-content:center">

                    <div>
                        <form>
                            <input id="comsumersSearch" type="search" placeholder="Search others..." name="name"/>
                            <button type="button" onclick="onSearchButtonClicked()" class="mdc-button" />
                        </form>
                    </div>

                </div>
            </div>

        </div>

        <div class="mdc-card" style="
    margin-top: 20px;
    flex: 1;">

            <div style="
                 margin: 16px">
                <form>
                    <input id="messageBox" type="text" style="position:relative" />
                    <button type="button" class="mdc-button mdc-button--dense" name="sendMessage" onclick="onSendMessageClicked()" />
                </form>
            </div>

        </div>

    </div>

</div>

<script>
    var messanger = {
        identifier: "4b47286f-a4f6-41fd-aec3-cc547d135052",
        dialogsLoaded: 0,
        dialogsPortion: 10,
        messagesLoaded: 0,
        messagesPortion: 30,
        consumersLoaded: 0,
        consumersPortion: 30
    }

    $(function () {
        loadDialogsAsync(messanger.identifier, messanger.dialogsLoaded, messanger.dialogsPortion);
    });

    import MDCList from 'material/list'
    const dialog = new MDCList($("#consumerDialog"));

    dialog.listen

    function loadDialogsAsync(uid, from, portion) {
        $.ajax({
            url: "@Url.Action("Dialogs", "Home")",
            method: "post",
            data: {
                uid: uid,
                offset: from,
                limit: portion
            },
            error: function () { },
            success: function (view) {
                $("consumersDialog").show();
                $("#dialogsContainer").html(view);
            }
        });
    }

    function searchConsumersAsync(name, from, portion) {
         $.ajax({
            url: "@Url.Action("Consumers", "Home")",
            method: "post",
            data: {
                name: name,
                offset: from,
                limit: portion
            },
             success: function (view) {
                
                $("#consumersDialog").html(view);
             },
             error: function () {
                 alert("Unable to find others with tag " + name);
             }
        });
    }

    function sendMessageAsync(message) {
        $.ajax({

        });
    }

    function onSendMessageClicked() {
        alert("onSendMessageClicked");

    }

    function onDialogClicked(dialog) {
        alert("onDialogClicked " + dialog);

    }

    function onConsumerClicked(consumer) {
        alert("onConsumerClicked " + consumer);

    }

    function onSearchButtonClicked() {
        searchConsumersAsync($("#comsumersSearch").val(),
            messanger.consumersLoaded,
            messanger.consumersPortion);
    }

</script>


