@model ICollection<Messanger.Data.ViewModels.ViewModelMessage>

<div id="messagesRecycler" class="pre-scrollable" style="
    position: relative;
    width: inherit; 
    overflow-y: scroll;
    flex-direction: column;
    flex: 1;">
        @{
            foreach (var message in Model) {
    <div class="card message" style="
        flex-direction: column;
        display: block; ">
        <p><b>@message.SenderName</b></p>
        <p>@message.Content</p>
        <p>@message.Time</p>
    </div>
            }
        }
</div>
