<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <!--Material Components-->
    <link href="~/Content/material-components-min-web.css" rel="stylesheet" type="text/css" />
    <style>
        div {
            display: flex;
        }
    </style>
</head>
<body>
    <div class="container body-content">
        @RenderBody()
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <!--Material Components-->
    <script src="~/Scripts/material-components-min-web.js"></script>
</body>
</html>