<div class="mdc-card" style="
    height: auto;
    width: 520px;
    position: absolute;
    margin: auto;
    top: 70px;
    left: 0;
    right: 0;
    padding: 24px;">

    <form action="@Url.Action("Authorize", "Auth")" method="post">
        <div style="
        flex-direction: column;
        margin-left: 48px;
        margin-right: 48px;
        align-items: center;">
            <div>
                <h2>SIGN IN</h2>
            </div>
            <div class="mdc-text-field mdc-text-field--outlined" style="
    height: 48px;
    margin-top: 24px;">
                <input type="text" id="tf-outlined" class="mdc-text-field__input" name="name">
                <label for="tf-outlined" class="mdc-floating-label">Your Name</label>
                <div class="mdc-notched-outline__idle">

                </div>
            </div>
            <div class="mdc-text-field mdc-text-field--outlined" style="
    height: 48px;
    margin-top: 24px;">
                <input type="text" id="tf-outlined" class="mdc-text-field__input" name="password">
                <label for="tf-outlined" class="mdc-floating-label">Your Password</label>
                <div class="mdc-notched-outline__idle">

                </div>
            </div>
            <div class="mdc-card__action-buttons" style="
    margin-top: 24px;">
                <button type="submit" class="btn">Sign In</button>
            </div>
        </div>
    </form>

</div>

