@model Messanger.Http.Models.IdentificationRequest

<div class="mdc-card" style="
    height: auto;
    width: 520px;
    position: absolute;
    margin: auto;
    top: 70px;
    left: 0;
    right: 0;
    padding: 24px;">
   
    <form action="@Url.Action("Identify", "Auth")" method="post">
        <div style="
        flex-direction: column;
        margin-left: 48px;
        margin-right: 48px;
        align-items: center;">
            <div>
                <h2>SIGN UP</h2>
            </div>
            <div style=" 
    margin-top: 20px;
    width: inherit;
    margin: auto;">
                @Html.ValidationSummary()
            </div>
            <div style="
    height: 48px;
    flex-direction: column;
    margin-top: 24px;">
                <label for="userName">Name</label>
                <input type="text" id="userName" class="form-control" name="name">
            </div>
            <div style="
    height: 48px;
    flex-direction: column;
    margin-top: 24px;">
                <label for="pass">Password</label>
                <input type="password" id="pass" class="form-control" name="password">
            </div>
            <div style="
    height: 48px;
    flex-direction: column;
    margin-top: 24px;">
                <label for="confirmPass">Confirm password</label>
                <input type="password" id="confirmPass" class="form-control" name="confirmPassword">
            </div>
            <div style="
    height: 48px;
    flex-direction: column;
    margin-top: 24px;">
                <label for="phone">Phone</label>
                <input type="text" id="phone" class="form-control" name="phoneNumber">
            </div>
            <div class="mdc-card__action-buttons" style="
    margin-top: 24px;">
                <button type="submit" class="btn">Sign Up</button>
            </div>
            <div style="
    width: inherit;
    margin: auto;">
                <a class="nav-link" href="@Url.Action("SignIn", "Auth")" style="
    text-decoration: none;">I have an account</a>
            </div>
        </div>
    </form>
    
</div>