@model Messanger.Http.Models.AuthorizationRequest

<div class="mdc-card" style="
    height: auto;
    width: 520px;
    position: absolute;
    margin: auto;
    top: 70px;
    left: 0;
    right: 0;
    padding: 24px;">

    <form action="@Url.Action("Authorize", "Auth")" method="post">
        <div style="
        flex-direction: column;
        margin-left: 48px;
        margin-right: 48px;
        align-items: center;">
            <div>
                <h2>SIGN IN</h2>
            </div>
            <div style="
    margin-top: 20px;
    width: inherit;
    margin: auto;">
                @Html.ValidationSummary()
            </div>
            <div style ="
    height: 48px;
    flex-direction: column;
    margin-top: 24px;">
                <label for="userName">Name</label>
                <input type="text" id="userName" class="form-control" name="name">
            </div>
            <div style="
    height: 48px;
    flex-direction: column;
    margin-top: 24px;">
                <label for="pass">Password</label>
                <input type="password" id="pass" class="form-control" name="password"> 
            </div>
            <div class="mdc-card__action-buttons" style="
    margin-top: 24px;">
                <button type="submit" class="btn">Sign In</button>
            </div>
            <div style="
    width: inherit;
    margin: auto;">
                <a class="nav-link" href="@Url.Action("SignUp", "Auth")" style="
    text-decoration: none;">Join MESSANGER.NET</a>
            </div>
        </div>
    </form>

</div>

